<section class="page admin">
  <h2>Users</h2>
  <table mat-table [dataSource]="rows" class="mat-elevation-z1 full">
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let r"> {{r.email}} </td>
    </ng-container>
    <ng-container matColumnDef="plan">
      <th mat-header-cell *matHeaderCellDef> Plan </th>
      <td mat-cell *matCellDef="let r"> {{r.plan}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let r"><button mat-button>Impersonate</button></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayed"></tr>
    <tr mat-row *matRowDef="let row; columns: displayed;"></tr>
  </table>
</section>
